<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
  }
</style>

<div class="content-wrapper" style="padding-top: 7%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; width:auto; height: 119vh;">

  <div class="container-fluid padding-bottom: 20px;">

    <div class="panel panel-primary">

      <div class="panel-heading" style="height: 50px;">
        <div class="text-center">
          <h1 class="text-primary font-weight-bold">{{ 'User List' | translate }}</h1>
        </div>
      </div>

      <!-- SEARCH BAR -->
      <div class="row p-1">
        <div class="col-sm-1"></div>

        <div class="col-sm-2">
          <input type="text"
                 class="form-control"
                 [(ngModel)]="form.searchParams.firstName"
                 placeholder="{{ 'Search First Name' | translate }}">
        </div>

        <div class="col-sm-2">
          <select class="form-control"
                  [(ngModel)]="form.searchParams.roleId">

            <option [ngValue]="null">{{ ' Select Role' | translate }}</option>

            <option *ngFor="let obj of form.preload.roleList"
                    [ngValue]="obj.key">
              {{ obj.value }}
            </option>

          </select>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1 ml-3">
          <button (click)="submit()" class="btn btn-primary">
            {{ 'Search' | translate }}
          </button>
        </div>

        <div class="col-lg-2 ml-4">
          <button (click)="forward('/user')" type="button" class="btn btn-success">
            {{ 'Add User' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">
            {{ 'Delete' | translate }}
          </button>
        </div>
      </div>

      <!-- ALERTS -->
      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <!-- TABLE -->
      <div class="p-1">
        <div class="table-responsive">

          <table class="table table-bordered table-dark table-hover font-weight-bold">
            <thead class="thead-dark text-uppercase">
              <tr align="center">
                <th>
                  <input type="checkbox"
                         [(ngModel)]="isMasterSel"
                         (change)="checkUncheckAll($event)">
                </th>
                <th>{{ 'S.No' }}</th>
                <th>{{ 'Image' }}</th>
                <th>{{ 'First Name' }}</th>
                <th>{{ 'Last Name' }}</th>
                <th>{{ 'Login' }}</th>
                <th>{{ 'Status' }}</th>
                <th>{{ 'Role' }}</th>
                <th>{{ 'Phone' }}</th>
                <th>{{ 'DOB' }}</th>
                <th>{{ 'Edit' }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let m of form.list; let i = index" align="center">

                <td>
                  <input type="checkbox"
                         [disabled]="m.roleName === 'Admin'"
                         [(ngModel)]="m.selected"
                         (change)="checklistUpdate()">
                </td>

                <td>{{ (form.pageNo * 5) + i + 1 }}</td>

                <td>
                  <img *ngIf="m.imageId"
                       [src]="'http://localhost:8084/User/profilePic/' + m.id"
                       height="55" width="80"
                       style="border-radius: 50%;">

                  <img *ngIf="!m.imageId"
                       src="../../assets/files/default.jpg"
                       height="55" width="80"
                       style="border-radius: 50%;">
                </td>

                <td>{{ m.firstName }}</td>
                <td>{{ m.lastName }}</td>
                <td>{{ m.loginId }}</td>
                <td>{{ m.status }}</td>
                <td>{{ m.roleName }}</td>
                <td>{{ m.phone }}</td>
                <td>{{ m.dob | date : 'dd-MM-yyyy' }}</td>

                <td>
                  <button class="fa fa-edit text-primary"
                          id="nnn"
                          [disabled]="m.roleName === 'Admin'"
                          (click)="forward('/user/' + m.id)"
                          style="cursor:pointer;">
                  </button>
                </td>

              </tr>
            </tbody>
          </table>

          <!-- PAGINATION -->
          <table style="width:100%;">
            <tr>
              <td style="width:50%;">
                <button (click)="previous()"
                        [disabled]="form.pageNo === 0"
                        class="btn btn-info">
                  {{ 'Previous' }}
                </button>
              </td>

              <td style="width:50%; text-align:right;">
                <button (click)="next()"
                        [disabled]="nextList === 0"
                        class="btn btn-info">
                  {{ 'Next' }}
                </button>
              </td>
            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
