<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<div class="row"
     style="padding-top:4%; padding-bottom:0%;
            background-image: url(../../assets/files/wall.jpg);
            background-attachment: fixed;
            background-size: 100%;
            height:120vh;">

  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">

        <form>

          <div class="text-center">
            <h3 class="text-primary">{{ 'Sign Up' | translate }}</h3>
          </div>

          <!-- Success / Error Messages -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <div *ngIf="!form.error && form.message && form.message.length > 0"
               class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <!-- ------------ FIRST NAME ------------ -->
          <div style="padding-top:0.3%">
            <span><b>{{ 'First Name' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="text"
                       name="firstName"
                       [(ngModel)]="form.data.firstName"
                       class="form-control"
                       placeholder="{{ 'Enter First Name' | translate }}">
              </div>
            </div>

            <span *ngIf="form.inputerror?.firstName"
                  class="alertRedColor" style="color:red;">
              {{ 'firstname' | translate }}
            </span>
          </div>

          <!-- ------------ LAST NAME ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'Last Name' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle"></i></div>
                </div>
                <input type="text"
                       name="lastName"
                       [(ngModel)]="form.data.lastName"
                       class="form-control"
                       placeholder="{{ 'Enter Last Name' | translate }}">
              </div>
            </div>

            <span *ngIf="form.inputerror?.lastName"
                  class="alertRedColor" style="color:red;">
              {{ 'lastname' | translate }}
            </span>
          </div>

          <!-- ------------ LOGIN ID ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'Login Id' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input type="text"
                       name="login"
                       [(ngModel)]="form.data.login"
                       class="form-control"
                       placeholder="{{ 'Enter Email Id' | translate }}">
              </div>
            </div>

            <span *ngIf="form.inputerror?.login"
                  class="alertRedColor" style="color:red;">
              {{ 'email' | translate }}
            </span>
          </div>

          <!-- ------------ PASSWORD ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'Password' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-key"></i></div>
                </div>
                <input type="password"
                       name="password"
                       [(ngModel)]="form.data.password"
                       class="form-control"
                       placeholder="{{ 'Enter Password' | translate }}">
              </div>
            </div>

            <span *ngIf="form.inputerror?.password"
                  class="alertRedColor" style="color:red;">
              {{ 'password' | translate }}
            </span>
          </div>

          <!-- ------------ MOBILE ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'Mobile' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone"></i></div>
                </div>
                <input type="text"
                       name="phone"
                       maxlength="10"
                       [(ngModel)]="form.data.phone"
                       class="form-control"
                       placeholder="{{ 'Enter Mobile Number' | translate }}">
              </div>
            </div>

            <span *ngIf="form.inputerror?.phone"
                  class="alertRedColor" style="color:red;">
              {{ 'phone' | translate }}
            </span>
          </div>

          <!-- ------------ DOB ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'DOB' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table"></i></div>
                </div>
                <input type="date"
                       name="dob"
                       [(ngModel)]="form.data.dob"
                       class="form-control">
              </div>
            </div>

            <span *ngIf="form.inputerror?.dob"
                  class="alertRedColor" style="color:red;">
              {{ 'dob' | translate }}
            </span>
          </div>

          <!-- ------------ GENDER ------------ -->
          <div style="padding-top:0.1%">
            <span><b>{{ 'Gender' | translate }}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus"></i></div>
                </div>
                <select class="form-control"
                        name="gender"
                        [(ngModel)]="form.data.gender"
                        style="cursor:pointer;">
                  <option [ngValue]="''">{{ 'Please select' | translate }}</option>
                  <option value="Male">{{ 'Male' | translate }}</option>
                  <option value="Female">{{ 'Female' | translate }}</option>
                </select>
              </div>
            </div>

            <span *ngIf="form.inputerror?.gender"
                  class="alertRedColor" style="color:red;">
              {{ 'gender' | translate }}
            </span>
          </div>

          <!-- ------------ BUTTONS ------------ -->
          <div class="row pt-3 pl-3 pb-3">
            <div class="col-md-3"></div>

            <div class="pt-2">
              <button (click)="submit()" class="btn btn-success mr-2">
                {{ 'Sign up' | translate }}
              </button>
            </div>

            <div class="pt-2" style="margin-left:20px;">
              <a class="btn btn-warning mr-1"
                 [routerLink]="['/signup']"
                 (click)="exit()">
                {{ 'Reset' | translate }}
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
