<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<div class="row" style="padding-top: 7%; padding-bottom:3%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; width:auto; height: 119vh;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <div class="card">
      <div class="card-body shadow-lg grad">

        <form>

          <!-- TITLE -->
          <h2 *ngIf="!(form.data.id > 0)" class="text-primary font-weight-bold" style="text-align: center;">
            {{'Add Faculty' | translate}}
          </h2>

          <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold" style="text-align: center;">
            {{'Update Faculty' | translate}}
          </h2>

          <!-- ALERTS -->
          <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <!-- FIRST NAME -->
          <div style="padding-top:3%">
            <span><b>{{'First Name' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </span>

                <input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                       class="form-control" placeholder="{{'Enter First Name' | translate}}">
              </div>
            </div>
            <span class="alertRedColor">{{form.inputerror.firstName}}</span>
          </div>

          <!-- LAST NAME -->
          <div style="padding-top:3%">
            <span><b>{{'Last Name' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
                </span>

                <input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                       class="form-control" placeholder="{{'Enter Last Name' | translate}}">
              </div>
            </div>
            <span class="alertRedColor">{{form.inputerror.lastName}}</span>
          </div>

          <!-- EMAIL -->
          <div style="padding-top:3%">
            <span><b>{{'Email' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i></div>
                </span>

                <input type="text" name="email" [(ngModel)]="form.data.email"
                       class="form-control" placeholder="{{'Enter Email Id' | translate}}">
              </div>
            </div>
            <span class="alertRedColor">{{form.inputerror.email}}</span>
          </div>

          <!-- QUALIFICATION -->
          <div style="padding-top:3%">
            <span><b>{{'Qualification' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-graduation-cap grey-text"></i></div>
                </span>

                <input type="text" name="qualification" [(ngModel)]="form.data.qualification"
                       class="form-control" placeholder="{{'Enter Your Qualification' | translate}}">
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.qualification}}</span>
          </div>

          <!-- SUBJECT -->
          <div style="padding-top:3%">
            <span><b>{{'Subject' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i></div>
                </span>

                <select class="form-control" name="subjectId" [(ngModel)]="form.data.subjectId">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate}}</option>
                  <option *ngFor="let obj of form.preload.subjectList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.subjectId}}</span>
          </div>

          <!-- COLLEGE -->
          <div style="padding-top:3%">
            <span><b>{{'College' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-university grey-text"></i></div>
                </span>

                <select class="form-control" name="collegeId" [(ngModel)]="form.data.collegeId">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate}}</option>
                  <option *ngFor="let obj of form.preload.collegeList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.collegeId}}</span>
          </div>

          <!-- COURSE -->
          <div style="padding-top:3%">
            <span><b>{{'Course' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-list grey-text"></i></div>
                </span>

                <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate}}</option>
                  <option *ngFor="let obj of form.preload.courseList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.courseId}}</span>
          </div>

          <!-- GENDER -->
          <div style="padding-top:3%">
            <span><b>{{'Gender' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus grey-text"></i></div>
                </span>

                <select class="form-control" name="gender" [(ngModel)]="form.data.gender">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate}}</option>
                  <option value="Male">{{'Male' | translate}}</option>
                  <option value="Female">{{'Female' | translate}}</option>
                </select>
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.gender}}</span>
          </div>

          <!-- MOBILE -->
          <div style="padding-top:3%">
            <span><b>{{'Mobile No' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i></div>
                </span>

                <input type="text" name="phoneNo" [(ngModel)]="form.data.phoneNo"
                       class="form-control" placeholder="{{'Enter Mobile Number' | translate}}">
              </div>
            </div>
            <span class="alertRedColor">{{form.inputerror.phoneNo}}</span>
          </div>

          <!-- DOB -->
          <div style="padding-top:3%">
            <span><b>{{'DOB' | translate}}</b><span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
                </span>

                <input type="date" name="dob"
                       [value]="form.data.dob | date:'yyyy-MM-dd'"
                       (input)="form.data.dob = parseDate($event.target.value)"
                       class="form-control form-control-sm" required />
              </div>
            </div>

            <span class="alertRedColor">{{form.inputerror.dob}}</span>
          </div>

          <!-- BUTTONS -->
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!(form.data.id > 0)" (click)="submit()"
                      [disabled]="!validate()" class="btn btn-success mr-2">
                {{'Save' | translate}}
              </button>
            </div>

            <div class="pt-2">
              <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate}}
              </button>
            </div>

            <div class="pt-2">
              <button (click)="forward('/facultylist')" type="button" class="btn btn-warning mr-1">
                {{'List' | translate}}
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
