<app-navbar></app-navbar>

<div style="
background: url(assets/files/gettyimages-1132439283-640x640.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;
padding-top: 10%;
padding-bottom: 24%;
width:100%;
height:119vh;">
  
  <!-- SEARCH FORM -->
  <form name="rollForm" (ngSubmit)="go()">
    <div align="center">
      <div style="font-size: 80px;">
        <p class="font-weight-bold text-primary">{{'Get Marksheet' | translate }}</p>
      </div>
    </div>

    <div class="row pt-4 pb-4">
      <div class="col-sm-4"></div>

      <div class="col-md-2 col-sm-2">
        <input type="text" name="rollNo" id="rollNo" class="form-control"
               [(ngModel)]="form.data.rollNo"
               placeholder="{{'Enter Roll Number' | translate}}">
      </div>

      <div class="col-md-2 col-sm-2">
        <button type="submit" [disabled]="!validate()" class="btn btn-success mr-2">
          {{'Search' | translate}}
        </button>

        <a class="btn btn-primary" [routerLink]="['/getmarksheet']">
          {{'Reset' | translate}}
        </a>
      </div>

      <div class="col-md-3 col-sm-3"></div>
    </div>
  </form>

  <!-- ERROR MESSAGE -->
  <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{form.message}}
  </div>

  <!-- SUCCESS MESSAGE -->
  <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{form.message}}
  </div>

  <!-- MARKSHEET TABLE -->
  <div class="container" *ngIf="form.list?.rollNo">

    <table width="100%" class="table table-bordered table-striped table-hover" border="3px">
      
      <tr>
        <th id="po1" colspan="2">{{'RollNO' | translate }}</th>
        <td id="po1" colspan="3">{{form.list.rollNo}}</td>
      </tr>

      <tr>
        <th id="po1" colspan="2">{{'Name' | translate }}</th>
        <td id="po1" colspan="3">{{form.list.name}}</td>
      </tr>

      <tr>
        <th id="po1">{{'Marks' | translate }}</th>
        <th id="po1" align="center">{{'Max Marks' | translate }}</th>
        <th id="po1" align="center">{{'Min Marks' | translate }}</th>
        <th id="po1" align="center">{{'Marks Obtain' | translate }}</th>
      </tr>

      <tr>
        <th id="po1" colspan="2">{{'Subject' | translate }}</th>
      </tr>

      <!-- PHYSICS -->
      <tr>
        <th id="po1">{{'Physics' | translate }}</th>
        <td align="center">100</td>
        <td align="center">35</td>
        <td id="po1" align="center">
          <span [ngStyle]="{'color': (form.list.physics >= 35) ? 'green' : 'red'}">
            {{form.list.physics}}
          </span>
        </td>
      </tr>

      <!-- CHEMISTRY -->
      <tr>
        <th id="po1">{{'Chemistry' | translate }}</th>
        <td align="center">100</td>
        <td align="center">35</td>
        <td id="po1" align="center">
          <span [ngStyle]="{'color': (form.list.chemistry >= 35) ? 'green' : 'red'}">
            {{form.list.chemistry}}
          </span>
        </td>
      </tr>

      <!-- MATHS -->
      <tr>
        <th id="po1">{{'Maths' | translate }}</th>
        <td align="center">100</td>
        <td align="center">35</td>
        <td id="po1" align="center">
          <span [ngStyle]="{'color': (form.list.maths >= 35) ? 'green' : 'red'}">
            {{form.list.maths}}
          </span>
        </td>
      </tr>

      <!-- TOTAL -->
      <tr>
        <th id="po1" colspan="2">{{'Total' | translate }}</th>
        <td id="po1" colspan="3" align="center">
          {{form.list.physics + form.list.chemistry + form.list.maths}}
        </td>
      </tr>

      <!-- PERCENTAGE -->
      <tr>
        <th id="po1" colspan="2">{{'Percentage' | translate }}</th>
        <td id="po1" colspan="3" align="center">
          {{
            ((form.list.physics + form.list.chemistry + form.list.maths) * 100) / 300
            | number:'2.0-2'
          }}%
        </td>
      </tr>

      <!-- FINAL GRADE -->
      <tr>
        <th id="po1" colspan="2" align="center">
          <font color="blue">{{'Final Grade' | translate }}</font>
        </th>

        <!-- PASS / FAIL -->
        <td id="po1" colspan="3" align="center"
            *ngIf="(((form.list.physics + form.list.chemistry + form.list.maths) * 100) / 300) >= 35; else failBlock">
          <font color="green"><b>{{'Pass' | translate}}</b></font>
        </td>

        <ng-template #failBlock>
          <td id="po1" colspan="3" align="center">
            <font color="red"><b>{{'Fail' | translate}}</b></font>
          </td>
        </ng-template>

      </tr>

    </table>

  </div>

  <div style="position: relative; clear: both;">
    <app-footer></app-footer>
  </div>

</div>
